.search-box {
  border-bottom: 1px solid var(--color-black);
  padding: 5px;
  margin-top: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
}

.search-box input {
  margin-left: 5px;
  width: 95%;
}

.search-icon {
  cursor: pointer;
}

/* 태블릿 */
@media (min-width: 744px) and (max-width: 1023px) {
  .search-box input {
    width: 90%;
  }
}

/* 모바일 */
@media (max-width: 743px) {
  .search-box input {
    width: 85%;
  }
}
