.search-box {
  border-bottom: 1px solid var(--color-black);
  padding: 5px;
  margin-top: 1rem;
  width: 90%;
}

.search-box input {
  margin-left: 5px;
  width: 95%;
}

.search-icon {
  cursor: pointer;
}

/* 모바일 */
@media (max-width: 743px) {
  .search-box input {
    width: 85%;
  }
}
