.receipt-container {
  margin-top: 3rem;
  border: 1px solid gray;
  padding: 32px 24px;
}

.receipt-title {
  margin-bottom: 20px;
}

.receipt-list {
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 1rem;
}

.receipt-list li {
  padding-bottom: 10px;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-button {
  padding: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.total-price {
  font-size: 1.125rem;
}
