.admin-product {
  margin-left: 1rem;
}

.search-box {
  border-bottom: 1px solid var(--color-black);
  padding: 5px;
}

.search-box input {
  margin-left: 5px;
  width: 98%;
}

.search-icon {
  cursor: pointer;
}
