.sidebar {
  max-width: 300px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}

.sidebar-row {
  height: 100vh;
}

/* 태블릿 */
@media (min-width: 744px) and (max-width: 1023px) {
  .sidebar-row {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
  }

  .sidebar {
    max-width: 100%;
    padding: 0;
  }

  .mobile-sidebar {
    width: 100%;
    height: 90px;
  }
}

/* 모바일 */
/* @media (min-width: 320px) and (max-width: 743px) { */
@media (max-width: 743px) {
  .sidebar-row {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
  }

  .sidebar {
    max-width: 100%;
    padding: 0;
  }

  .mobile-sidebar {
    width: 100%;
    height: 90px;
  }
}
